.toolbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.toolbar span {
  padding-left: 5px;
}
.toolbar-title {
  font-size: 1rem;
}
.menu-spacer {
  flex: 1 1 auto;
}
.all-skills {
  margin: auto;
  margin-top: 5rem;
  max-width: 90%;
}
.add-form-container {
  padding: 4em;
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 5rem;
}
.add-form-container mat-card-title {
  margin: 1em !important;
}
mat-card-content {
  margin-bottom: 0;
}
mat-form-field {
  width: 90%;
}
.add-form-container button {
  width: 80%;
  max-width: 400px;
  margin-top: 10px !important;
  margin-bottom: 1em;
}
button:hover .detail-options {
  cursor: pointer;
}
.all-habits {
  text-align: center;
}
.all-habits h1 {
  margin-top: 1rem;
}
.all-habits mat-card {
  width: 60%;
  margin: 1em auto;
  text-align: left;
}
.habit-icon {
  vertical-align: middle;
  padding-bottom: 3px;
  font-weight: 700;
}
.detail-label {
  font-weight: 500;
}
.detail-options {
  position: absolute;
  top: 14px;
  right: 10px;
}
.detail-options mat-icon {
  padding-right: 5px;
}
bottom:hover, .detail-options {
  cursor: pointer;
}