<!-- Toolbar -->
<div class="toolbar-container">
  <mat-toolbar class="toolbar" color="primary">
    <button mat-button href="#" class="toolbar-title">
      <mat-icon aria-hidden="false" aria-hidden="check mark icon">fact_check</mat-icon>
      <span>Skills Tracker</span>
    </button>
    <span class="menu-spacer"></span>
    <button *ngIf="logedIn" mat-icon-button [matMenuTriggerFor]="menu" class="menu-icon" aria-label="Button with menu icon">
      <mat-icon aria-hidden="false" aria-hidden="check mark icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="adding = !adding">Add Skill</button>
      <button mat-menu-item type="submit" (click)="logout()">LogOut</button>
    </mat-menu>
  </mat-toolbar>
</div>
<!-- Login Form -->
<div class="add-form-container" *ngIf="!logedIn">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <hr>
    <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input type="password" matInput formControlName="password" />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Login</button>
        <button mat-raised-button (click)="onSignupSubmit()">Sign Up</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
<!-- Form -->
<div class="add-form-container" *ngIf="(adding || editing) && logedIn">
  <mat-card>
    <mat-card-title>Add New Skill </mat-card-title>
    <hr>
    <form [formGroup]="skillForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Frequency</mat-label>
          <mat-select formControlName="frequency">
            <mat-option value="Daily">Daily</mat-option>
            <mat-option value="Weekly">Weekly</mat-option>
            <mat-option value="Monthly">Monthly</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Why is this skill important for you?"></textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" type="submit">Save</button>
        <button mat-raised-button (click)="exitForm()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
<!-- Main screen -->
<div class="all-skills" *ngIf="!adding && !editing && logedIn">
  <h1>All Skills</h1>
  <div class="skills-cards">
    <div *ngFor="let skill of skills; let i = index;">
      <mat-card>
        <mat-card-title>
          <mat-icon class="skills-icon" color="accent" aria-hidden="false" aria-label="circle check mark icon">
            check_circle_outline</mat-icon>
          {{ skill.name }}
        </mat-card-title>
        <div class="detail-options">
          <mat-icon class="skills-icon" color="primary" (click)="setEditForm(skill, i)">edit</mat-icon>
          <mat-icon class="skills-icon" color="warn" (click)="onDelete(i)">remove_circle</mat-icon>
        </div>
        <mat-card-content>
          <p>
            <span class="detail-label">Frequency: </span>{{ skill.frequency }}
          </p>
          <p>
            <span class="detail-label">Why is this skill important to me?</span>
            <br>{{ skill.description }}
          </p>
        </mat-card-content>
      </mat-card>
  </div>
  </div>
</div>
